/*COLOR DEFINITIONS
Text: DimGray
Background: #F8F8F8
LightGray
LightSlateGray
DodgerBlue, RoyalBlue, SlateBlue, CornFlowerBlue





*/




/*MOBILE*/
/*Since this is mobile first, no breakpoint is required. Only for hire levels...*/



body {
  background-color: green;


}
nav {
  background-color: blue;
}


/*MEDIUM*/







/*DESKTOP*/
