/*COLOR DEFINITIONS
Text: DimGray
Background: #F8F8F8
LightGray
LightSlateGray
DodgerBlue, RoyalBlue, SlateBlue, CornFlowerBlue


FONTS
Rubik
300,300i,400,400i,700,900
Supermecado One
*/




/*MOBILE*/
/*Since this is mobile first, no breakpoint is required. Only for hire levels...*/


html, body{
  padding: 0;
  margin: 0;
  width:100%;
  height: 100%;
}
body {
  background-color: #F8F8F8;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: red;
}
.container{
  width: 100%;
  height: 100%;
  background-color: green;
}



/*----------NAVIGATION----------*/
nav {
  display: none;
  /*remove this when done ^^^*/
  background-color: white;
  width: 100%;
  /*position: fixed; Add this later*/
}
.intro {
  width: 100%;
  font-family: 'Supermercado One', 'Rubik', sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}
p {
  background-color: aliceblue;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.intro p a {
  padding: 5px 20px;
  text-decoration: none;
}
.navigation:first-child{
  font-size: 2em;
}
nav ul {
  background-color: purple;
  list-style-type: none;
  margin: 0;
  padding: 30px;
}
nav ul li {
  margin-bottom: 20px;
}


/*--------------CONTENT--------------*/


/*MEDIUM*/







/*DESKTOP*/
